{%   extends 'layout.html'       %}
{% block content  %}
<style>
    .container{

    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;

    }
    .card{
    font-size:1em;
    width:500px;
    padding:2%;
    }
</style>
<div class="container">
    <div class="card">


        <h5><center>Fill the details</center></h5>
        <form method="post" action="">
            <div class="form-group">
            {{ form.hidden_tag() }}
                <div class="m-2">
                    {{ form.name.label(class="form-control-label")    }}
        {{ form.name(class="form-control form-control-sm" )   }}
                </div>
                 <div class="m-2">
                     {{ form.phone_no.label(class="form-control-label")       }}
        {{ form.phone_no(class="form-control form-control-sm" )     }}
                </div>
                <div class="m-2">
                     {{ form.work_email.label(class="form-control-label")       }}
        {{ form.work_email(class="form-control form-control-sm" )     }}
                </div>
                 <div class="m-2">
                    {{ form.linkedIn.label(class="form-control-label")       }}
        {{ form.linkedIn(class="form-control form-control-sm" )  }}
                </div>
                <div class="m-2">
                    {{ form.education.label(class="form-control-label")       }}
        {{ form.education(class="form-control form-control-sm" )  }}
                </div>

                <div class="m-2">
                    {{ form.skills.label(class="form-control-label")       }}

        {{ form.skills(class="form-control form-control-sm" )  }}

                </div>
                <div class="m-2">
                    {{ form.project_1.label(class="form-control-label")       }}
        {{ form.project_1(class="form-control form-control-sm" )  }}
                </div>
                <div class="m-2">
                    {{ form.project_2.label(class="form-control-label")       }}
        {{ form.project_2(class="form-control form-control-sm" )  }}
                </div>
                 <div class="m-2">

            {{   form.submit(class="form-control form-control-sm bg-dark text-white " )    }}
                </div>

                </div>
        </form>

    </div>
</div>
{%  endblock    %}